*{
  box-sizing: border-box;
}

.container{
  width: 1100px;
  margin: 0 auto;
}

.genHeader{
  text-align: center;
}

div#paragraphs {
  margin: 30px;
}

div#paragraphs p:not(:first-child){
  width: 500px;
  display: inline-block;
}

div#paragraphs p:last-child{
  float: right;
  width: 500px;
  display: inline-block;
}
div.controls div{
  margin-right: 25px;
  vertical-align: top;
  display: inline-block;
}

div.controls{
  margin-left: 25px;
}

#categoryDrops{
  margin-top: 2px;
}
#categoryDrops label{
  margin-left: 10px;
}
